body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
  background-size: cover;
}

.library-title {
  font-family: Montserrat;
  font-size: 5rem;
  text-decoration: underline;
  color: #f5e9ba;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.library-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.newBookEntry {
  display: flex;
  font-family: Montserrat;
  flex-direction: column;
  align-items: center;
  border: 3px solid #8b4513;
  border-radius: 10px;
  background-color: #5c4033f7;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.title {
  color: white;
  margin-bottom: -1rem;
}

.author {
  color: white;
}

.pages {
  color: wheat;
}

.reading-status-div {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
  color: whitesmoke;
}
.new-book-button {
  background-color: #d39067;
  border: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  height: 4rem;
  border-radius: 1rem;
  color: whitesmoke;
  cursor: pointer;
}

.new-book-button:active {
  color: white;
  transform: translateY(0.2rem);
}

.new-book-button:hover {
  background: #6b092a;
  transform: scale((1.03));
  color: white;
}

.book-input-form {
  position: absolute;
  top: 20%;
  left: 4 30%;
  z-index: 100;
  margin-top: 2rem;
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 10px;
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  color: #5c4033;
  border: 3px solid #8b4513;
  background-color: #fff8dc;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 1rem;
}

.reading-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#read-status {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 1rem;
}

#submit {
  background-color: #d3a588;
  color: whitesmoke;
  border: none;
  width: 80px;
  height: 25px;
  border-radius: 1rem;
  color: whitesmoke;
  cursor: pointer;
}

#submit:hover {
  transform: scale(1.03);
  background-color: #dcb299;
}

.book-input {
  text-align: center;
  width: 15rem;
  height: 1.5rem;
  margin-bottom: 2rem;
  font-family: Montserrat;
  color: #6b092a;
}

.pages-input {
  text-align: center;
  width: 3rem;
  height: 1.5rem;
}

.book-input:focus,
.pages-input:focus {
  border: 2px solid #8b4513;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(139, 69, 19, 0.33);
  background-color: #fff8dc;
}

/*getting rid of the arrows in the number input*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.delete-button {
  background-color: #6b092a;
  border: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  color: whitesmoke;
}

.delete-button:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #970f3d;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
