.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ece2d0;
}

.library-title {
  font-family: Montserrat;
  font-size: 5rem;
  text-decoration: underline;
  color: rgb(211, 74, 23);
}

.library-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.newBookEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  background-color: green;
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  margin: 2rem;
}

.title {
  color: white;
}

.author {
  color: white;
}

.pages {
  color: wheat;
}

.reading-status-div {
  display: flex;
}
.new-book-button {
  background-color: coral;
  border: none;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  height: 4rem;
  border-radius: 1rem;
  color: whitesmoke;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.new-book-button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.new-book-button:hover {
  background: rgb(246, 106, 56);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.book-input-form {
  align-items: center;
  display: none; /* die eigenschaft ändern um die form sichtbar zu machen*/
  flex-direction: column;
  gap: 10px;
  border-style: solid;
  padding: 1rem;
}

.reading-status {
  display: flex;
  align-items: center;
}

.book-input {
  width: 15rem;
  height: 1.5rem;
}
